.env
/data/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
src/__pycache__/

# Virtual environment
venv/
.env/
.env.local

# IDE specific files
.vscode/
.idea/

# Build/distribution files
*.egg-info/
dist/
build/